.navigationPanelTop {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 40vh;
  height: 5vh;
  margin-top: -15vh;
  margin-left: 64%;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .navigationPanelTop {
    display: none;
    margin-left: 6%;
    margin-top: -20vh;
  }
}
