.navigationPanelBot {
  position: fixed;
  width: 5vh;
  height: 5vh;
  margin-top: 42vh;
  margin-left: 93.5%;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .navigationPanelBot {
    margin-top: 77%;
    margin-left: 88.5%;
  }
}
