.teamLine {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.teamMember {
  min-width: 150px;
  max-width: 220px;
  min-height: 210px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.teamMember_avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.teamMember a {
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--black-color);
  text-decoration: none;  
  text-align: center;
}

.teamMember a:hover {
  color: var(--darkRed-color);
}

.teamMember_imgLink {
  margin: 0 10px 0;
}
.teamContainer {
  padding: 20px 50px 40px;
  background-color: var(--lightGray-color);
}
