.VideoFrame {
  margin-bottom: 0;

  & + button > svg {
    fill: #ff0000;
  }
}

.VideoButton {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 auto;

  font-weight: 600;
  color: #ff0000;

  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 5px;

  &:hover {
    color: #000000;

    background-color: #ff0000;
    cursor: pointer;
  }
}
