.footer {
  background-color: var(--black-color);
  height: 100%;
}

.footerContent {
  display: flex;
  flex-flow: row wrap;
  width: 410px;
  margin: 0 auto;
  padding: 15px;
  color: var(--white-color);
  font-family: var(--main-font);
  align-items: center;
}

.footerImg {
  margin: 0 15px 0;
}

.footerText {
  margin: 0;
}

.styleSpan {
  color: var(--darkRed-color);
  font-weight: bold;
}

@media (max-width: 400px) {
  .footerContent {
    flex-direction: column;
  }
}
