.navigationButton {
  background-color: #b00000;
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationButton:hover {
  background: #800000;
  cursor: pointer;
}
